<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GaadiKey Price List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.3.1/dist/css/splide.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.3.1/dist/js/splide.min.js"></script>
  <script>
  document.addEventListener( 'DOMContentLoaded', function () {
    new Splide( '#image-slider' ).mount();
  } );
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56315292-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-56315292-9');
</script>

  <style>
    @media(max-width: 500px) {
      .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
      }
    }

    .titled {
      font-family: 'Merriweather', serif !important;
      font-size: 58px !important;
      font-weight: 400 !important;
      line-height: 64px !important;
    }

    .subtitled {
      font-family: 'Merriweather', serif !important;
      font-size: 22px !important;
      font-weight: 400 !important;
      line-height: 36px !important;
    }

    .frame {
      background: repeating-linear-gradient(45deg, transparent, transparent 32px, #ff9947 32px, #ff9947 64px);
    }
    
    .frame img {
      border-radius: 20px;
    }

.splide {
  max-width: 100%;
  text-align: center;
  margin-inline: auto;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

  </style>
</head>

<body>
  <br/>
  <br/>
  <section class="container">
    <h1 class="titled title is-1 mb-6 has-text-centered">GaadiKey Price List</h1>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Top Selling Hatchbacks</p>
          <p class="subtitle"></p>
          <br/>
          <div class="content">
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Maruti Alto
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Marut WagonR
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Maruti Celerio
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Tata Tiago
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Hyundai Grand i10 NIOS
            <br/>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Top Selling SUVs (Compact)</p>
          <p class="subtitle"></p>
          <br/>
          <div class="content">
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Tata Punch
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
             Hyundai Venue
            <br/>
             <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
             Mahindra XUV300
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
             Nissan Magnite
            <br/>
             <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
             Renault Kiger
            <br/>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Top Selling SUVs (Mid-size)</p>
          <p class="subtitle"></p>
          <br/>
          <div class="content">
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Kia Seltos
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Hyundai Creta
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Skoda Kushaq
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Citroen C5 Aircross
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Renault Duster
            <br/>
          </div>
           </article>
          </div>
          <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Top Selling MPVs</p>
          <p class="subtitle"></p>
          <br/>
          <div class="content">
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Maruti Ertiga
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Maruti XL6
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Toyota Innova Crysta
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            <a href="https://price.gaadikey.com/best/suv-cars/renault-triber-variants-price-list/">Renault Triber</a>
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Maruti Eeco
            <br/>
          </div>
        </article>
      </div>
    </div>
  </section>
  <br/>
    <section class="container">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Cars under 5 lakhs</p>
          <p class="subtitle"></p>
          <br/>
          <div class="content">
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best hatchbacks under 5 lakhs
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best cars under 5 lakhs
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best used cars under 5 lakhs
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best used cars under 4 lakhs
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best used cars under 3 lakhs
            <br/>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Cars under 10 lakhs</p>
          <p class="subtitle"></p>
          <br/>
          <div class="content">
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best Automatic cars under 10 lakhs
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best Diesel cars under 10 lakhs
            <br/>
             <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best compact sedans under 10 lakhs
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
             <a href="https://price.gaadikey.com/best/suv-cars/under-10-lakhs/">Best SUVs under 10 lakhs (Compact)</a>
            <br/>
             <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
             Best MPVs under 10 lakhs
            <br/>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Cars under 20 lakhs</p>
          <p class="subtitle"></p>
          <br/>
          <div class="content">
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best MPVs under 20 lakhs
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best Automatic cars under 20 lakhs
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best premium sedans under 20 lakhs
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best SUVs under 20 lakhs (Mid-size)
            <br/>
            <span class="icon has-text-success">
              <i class="fas fa-check-square"></i>
            </span>
            Best Diesel cars under 20 lakhs
            <br/>
          </div>
        </article>
      </div>
    </div>
  </section>

  <br/><br/>
  <br/><br/>

  <div class="has-text-centered">
     <a href="#"><button class="button is-warning is-large">Consult Price Expert</button></a>
     <!--a href="https://docs.google.com/forms/d/1cEsGKYOphXjvuSwdP5ZdYpT9nuy1FS9WuSaZ9OKkXxY"><button class="button is-warning is-large">Schedule Now!</button></a-->
  </div>

  <br/><br/>
  <br/><br/>

  <section class="container">
    <p>Copyright &copy; 2021 GaadiKey Media Private Limited</p>
    <p><i class="fa fa-phone" aria-hidden="true"></i> +91 080 2991-8428</p>
    <p><i class="fa fa-address-card" aria-hidden="true"></i> #97 Second Cross, PR Layout, First Main Road, Sheshadipuram, Bangalore 560020</p>
  </section>

  <br/><br/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
  <script>
    new Typewriter('#typewriter', {
      strings: ['Pricing', 'Timing'],
      autoStart: true,
      loop: true,
    });
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true
    });
  </script>
</body>

</html>
